# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# ignore build
build/
cmake-build-*/
out/

# ignore generated
compile_commands.json
CMakeFiles/
CMakeCache.txt
*.ninja
.ninja_log
.ninja_deps